@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}
body{
  background-color: #f7f8fa;
}
body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}
.site{
  flex-direction: row;
  height: 100%;
}
.site__main{
  flex-grow: 7;
  flex-basis: 0;
  flex-direction: row;
  height: 100%;
}
.site__right-sidebar{
  flex-grow: 3;
  flex-basis: 0;
  flex-direction: column;
  height: 100%;
}
.site__left-sidebar{
  flex-basis: auto;
  flex-grow: 0;
  position: fixed;
  width: 170px;
  height: 100%;
  font-size:48px;
  color:#515151;
  font-family: AvenirNext-DemiBold;
  padding:60px 0 0 30px;
}
.site__content{
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 170px;
  height: 100%;
  padding: 30px 50px 0 70px;
}
.products{
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}
.product{
  width: 50%;
  padding: 0 20px 25px 0;
}
.product__img{
  width: 90%;
  margin: 0 auto;
}
.product__display{
  border:5px solid #d8d8d8;
  background-color: #fff;
  padding: 20px;
}
.product__add{
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  margin: 20px auto 0;
}
.product__add__icon{
  margin: auto;
}
.product__price{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: AvenirNext-UltraLight;
}
.product__description{
  flex-direction: row;
  padding-top: 15px;
}
.product__name{
  flex-basis: 0;
  flex-grow: 1;
  color:#202020;
  font-family: AvenirNext-UltraLight;
  font-size: 18px;
  line-height: 35px;
}
.product__heart{
  flex-basis: auto;
  flex-grow: 0;
  padding-right: 4px;
}
.cart{
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: auto;
}
.cart__content{
  padding-top: 33px;
}
.cart-item {
  height: 150px;
  margin-bottom: 20px;
  background: rgba(0,255,0,0.3);
}
.cart-item__image{
  width: 33%;
}
.cart__title{
  position: fixed;
}
.checkout {
  flex-basis: auto;
  flex-grow: 0;
  height: 300px;
  background: rgba(0,0,255,0.3);
}

