@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}
body{
  background-color: #f7f8fa;
}
body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  background-image: linear-gradient(to top,rgba(0,0,0,0),rgba(255,255,255,1)), url(../img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}
.site{
  flex-direction: row;
  height: 100%;
}
.site__main{
  flex-basis: 70%;
  flex-direction: row;
}
.site__right-sidebar{
  width: 30%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) ,rgba(103, 125, 236, 0.34));
}
.site__left-sidebar{
  position: fixed;
  width: 170px;
  height: 100%;
  font-size:48px;
  color:#515151;
  font-family: AvenirNext-DemiBold;
  padding:60px 0 0 30px;
}
.site__content{
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 170px;
  height: 100%;
  padding: 30px 2% 0 4%;
}
.products{
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}
.product{
  width: 50%;
  padding: 0 2% 25px 0;
}
.product__img{
  width: 90%;
  margin: 0 auto;
}
.product__display{
  border:5px solid #d8d8d8;
  background-color: #fff;
  padding: 2%;
}
.product__add{
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  margin: 20px auto 0;
}
.product__add__icon{
  margin: auto;
}
.product__price{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: AvenirNext-UltraLight;
}
.product__description{
  flex-direction: row;
  padding-top: 15px;
}
.product__name{
  flex-basis: 0;
  flex-grow: 1;
  color:#202020;
  font-family: AvenirNext-UltraLight;
  font-size: 18px;
  line-height: 35px;
  word-break:break-all;
}
.product__heart{
  flex-basis: auto;
  flex-grow: 0;
  padding-right: 4px;
}
.cart{
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: auto;
}
.cart__content{
  padding: 80px 40px 20px;
}
.cart-item {
  margin-bottom: 30px;
}
.cart-item__top-part{
  flex-direction: row;
}
.cart-item__image{
  flex-basis: 33%;
  flex-grow: 0;
}
.cart-item__image img{
  width: 100%;
  border: 3px solid #DDD;
}
.cart-item__top-part__middle{
  flex-grow: 1;
  flex-basis: auto;
  padding: 10px 20px;
}
.cart-item__title{
  font-size: 18px;
}
.cart-item__trash{
  flex-grow: 0;
}
.cart__title{
  position: fixed;
  line-height: 60px;
  width: 100%;
  z-index: 2;
  text-indent: 40px;
  background-color: rgba(255, 255, 255, 0.19);
}
.cart-item__price{
  font-family: "AvenirNext-Regular", sans-serif;
  line-height: 2;
}
.cart-item__trash, .cart-item__qty .adjust-qty__button{
  cursor: pointer;
}
.cart-item__qty{
  width: 33%;
}
.cart-item__qty .adjust-qty__button{
  border-radius: 50%;
  background-color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-family: "AvenirNext-Regular", sans-serif;
}
.cart-item__qty .adjust-qty{
  flex-direction: row;
  justify-content: center;
}
.cart-item__qty .adjust-qty__number{
  padding: 0 15px;
}
.checkout {
  flex-basis: auto;
  flex-grow: 0;
  height: 350px;
  padding: 10px 30px 0;
}
.checkout__divider{
  width: 40%;
  border: 0;
  border-bottom: 1px solid #9E9E9E;
}

.checkout__coupon-input{
  margin-top: 20px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  font-size: 20px;
}
.checkout__coupon-input--error{
  border:1px solid #dc100a;
}
.checkout__coupon-error{
  color: #dc100a;
  font-size: 18px;
  font-family: "AvenirNext-DemiBold";
  padding: 5px 0 20px 0;
}
.checkout__amount{
  flex-direction: row;
  font-family: "AvenirNext-Regular";
  font-size: 24px;
  color:#202020;
  padding:3px 10px;
}
.checkout__amount__tit--strikeout, .checkout__amount--saving{
  font-family: "AvenirNext-DemiBold";
}
.checkout__amount__price{
  flex-grow: 1;
  text-align: right;
}
.checkout__amount__price--strikeout {
  text-decoration: line-through;
}
.checkout__amount--saving{
  flex-direction: row-reverse;
  color:#dc100a;
}
.checkout__amount-button{
  background-color: #80a590;
  width: 70%;
  min-width: 200px;
  padding: 10px 20px;
  border:0;
  flex-direction: row;
  display: flex;
  margin: 20px auto 0;
}
.checkout__amount-button__icon{
  flex-grow: 0;
  flex-basis: auto;
}
.checkout__amount-button__text{
  flex-grow: 1;
  flex-basis: 0;
  color:#f7f8fa;
  font-size: 24px;
  text-align: center;
  text-indent: -18px;
}
.site__right-sidebar-toggle{
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  left: -60px;
  bottom: 0;
  background-color: rgb(106, 129, 235);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 950px) {
  .site__right-sidebar{
    width: 40%;
  }
  .site__main{
    flex-basis: 60%;
  }
  .product{
    width: 100%;
  }
}
@media (max-width: 600px) {
  .site__right-sidebar{
    width: 80%;
    transform: translateX(100%);
    transition:all .6s ease-in-out;
    background-image: linear-gradient(to bottom,rgb(255, 255, 255) ,rgb(106, 129, 235));
  }
  body.js-show-right-sidebar .site__right-sidebar {
    transform: translateX(0);
  }
  .site__main{
    flex-basis: 100%;
  }
  .site__content{
    margin-left: 0;
  }
  .site__left-sidebar{
    display: none;
  }
  .site__right-sidebar-toggle{
    display: flex;
  }
  .site__right-sidebar-toggle img{
    transform: rotate(180deg);
    transition:all 1s ease-in-out;
  }
  body.js-show-right-sidebar .site__right-sidebar-toggle img {
    transform: rotate(0);
  }
}
