@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}
.site{
  flex-direction: row;
  height: 100%;
}
.site__main{
  flex-grow: 7;
  flex-basis: 0;
  flex-direction: row;
  height: 100%;
}
.site__right-sidebar{
  flex-grow: 3;
  flex-basis: 0;
  flex-direction: column;
  height: 100%;
}
.site__left-sidebar{
  flex-basis: auto;
  flex-grow: 0;
  position: fixed;
  width: 170px;
  height: 100%;
}
.site__content{
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 170px;
  height: 100%;
}
.site__content .products{
  background-color: rgba(255,111,111,.6);
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}
.site__content .product{
  width: 50%;
  height: 250px;
  background-color: rgba(132,119,100,.5);
  margin-bottom: 20px;
}
.site__right-sidebar .cart{
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: auto;
}
.site__right-sidebar .cart__content{
  padding-top: 33px;
}
.site__right-sidebar .cart-item {
  height: 150px;
  margin-bottom: 20px;
  background: rgba(0,255,0,0.3);
}
.site__right-sidebar .cart__title{
  position: fixed;
}
.site__right-sidebar .checkout {
  flex-basis: auto;
  flex-grow: 0;
  height: 300px;
  background: rgba(0,0,255,0.3);
}